$active-color: #d6b161;
$normal-color: #333;
$info-color:#222;
$white-color: #fff;
$black-color: #111;
$p-color: #7e7e7e;
$cover-color: rgba(255, 255, 255, 0.9);
$border-color: rgba(0, 0, 0, 0.1);
$footer-background-color: #f5f5f5;
$top-color: rgba(0, 0, 0, .6);
$progress-bar: #eae8e8;
$light-gray-color: #a5a5a5;
$gray-color: #323232;
$bottom-color: #1b1b1b;
$dark-footer-color: #6f7273;
